<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-lg-6" *ngIf="menuDta">
      <a routerLink="../../services" class="btn btn-sm btn-dark mb-3">Volver</a>
      <img src="{{menuDta[0].serviceImage}}" alt="" width="100%">
      <h1 class="mt-3">{{menuDta[0].serviceName}}</h1>
      <p>{{menuDta[0].serviceDetails}}</p>
    </div>
    <div class="col-lg-6">
      <h1 class="text-center ">Escribrenos</h1>
      <form class="form" [formGroup]="form">
        <div class="col-12 mt2 mb-2">
          <mat-form-field appearance="fill" class="wider-form-field mat-primary">
            <mat-label>Ingresa tu Nombre</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>escribe tu nombre para saber quien eres</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mt2 mb-2">
          <mat-form-field appearance="fill" class="wider-form-field mat-primary">
            <mat-label>Ingresa tu Numero de telefono</mat-label>
            <input matInput formControlName="telephone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>escribe tu numero de celular</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mt2 mb-2">
          <mat-form-field appearance="fill" class="wider-form-field mat-primary">
            <mat-label>Ingresa tu Correo electronico</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>escribe tu correo electronico</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mt2 mb-2">
          <mat-form-field appearance="fill" class="wider-form-field mat-primary">
            <mat-label>Sobre que quieres informacion</mat-label>
            <input matInput formControlName="about">
            <mat-icon matSuffix>info</mat-icon>
            <mat-hint>escoge una opcion</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 mt-2 mb-2">
          <mat-form-field appearance="fill" class="wider-form-field mat-primary">
            <mat-label>Estoy interesado en...</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." formControlName="message"></textarea>
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Escribe un mensaje manifestado el producto que deseas</mat-hint>
          </mat-form-field>
        </div>

      </form>
      <div class="col-12 mt-2 mb-2">
        <div class="row">
          <div class="col-4 col-md-2">
            <button class="btn btn-md custom-buton mt-3" [disabled]="form.invalid" type="submit"
              (click)="saveData()">Enviar</button>
          </div>
          <div class="col-4 col-md-2">
            <button class="btn btn-md custom-buton mt-3" type="button" (click)="cleanForm()"><i
                class="bi bi-trash"></i></button>
          </div>
        </div>
      </div>
      <h1 class="text-center">O por WhatsApp...</h1>
      <div class="col-12 mt-2 mb-2">
        <mat-form-field appearance="fill" class="wider-form-field mat-primary">
          <mat-label>Estoy interesado en...</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Escribe un mensaje manifestado el producto que deseas</mat-hint>
        </mat-form-field>
        <div class="col-md-6 ">
          <button class="btn btn-md mt-3 custom-butonWhatsApp" [disabled]="" type="button"
            (click)="sendWhatsApp()">Adquiere este producto aquí <i class="bi bi-whatsapp"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>