<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-lg-6">
      <h1>Quienes somos?</h1>
      <p>
        Somos una empresa en crecimiento estamos en el mercado desde hace tres años, hemos venido evolucionando de
        manera exponencial ya que empezamos como una empresa de mantenimiento de equipos de computo y dispositivos
        móviles. y ya hoy tenemos dos servicios mas para ofrecer los cuales son los siguientes, Servicios de asesorías
        en informes de salud ante el ministerio de salud y servicio de elaboración de paginas web totalmente reponsive y
        de aplicaciones móviles.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores illo quasi natus sapiente cumque esse
        mollitia repellendus facere neque dolore consequuntur laborum, tempora reprehenderit amet voluptatibus, quo
        dolores explicabo eveniet? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere laborum illo saepe voluptates quos fugit quaerat quas placeat adipisci quisquam tempore at porro esse, corporis molestiae non, repellat ullam voluptatem.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="https://cdn.pixabay.com/photo/2017/03/29/15/18/tianjin-2185510_1280.jpg" alt="no salio" width="100%">
    </div>
  </div>
</div>