<nav class="navbar navbar-expand-lg bg-body-tertiary navbarcolor ">
    <div class="container-fluid">
        <a href="">
            <img src="./../../../../assets/images/logoPrincipal.png" alt="logo" class="img-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="pages/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="pages/products" routerLinkActive="active-link">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pages/services" routerLinkActive="active-link">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="pages/contacts" routerLinkActive="active-link">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active-link">
                        <mat-icon mat-raised-button color="whrite" class="float-Button" [matBadge]="fullData" matBadgeSize="large" matBadgeColor="warn" (click)="option()">add_shopping_cart</mat-icon>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>