<nav class="navbar navbar-expand-lg bg-body-tertiary navbarcolor ">
  <div class="container-fluid" >
    <a href="">
      <img src="./../../../../assets/images/logo.png" alt="logo" class="img-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="#" routerLinkActive="active-link">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="about" routerLinkActive="active-link">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact" routerLinkActive="active-link">Llamanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="menu" routerLinkActive="active-link">Menu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>