<div class="container" style="margin-top: 70px;">
    <h1>Contactanos</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingresa tu primer nombre">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingresa tu segunto nombre">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingresa tu correo electronico">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingresa tu telefono celular">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Enviar</button>
            </div>
        </div>
    </form>
</div>