<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- NOMBRE -->
        <div class="col-lg-4">
            <h1>SOFTSAENZ</h1>
            <p>Lideres en informatica, Expertos en tecnologia</p>
        </div>
        <!-- NAVEGACION -->
        <div class="col-lg-4">
            <a routerLink="pages/home">Home</a>
            <a routerLink="pages/products">Productos</a>
            <a routerLink="pages/services">Servicios</a>
            <a routerLink="pages/contacts">Contactanos</a>
        </div>
        <!-- REDES -->
        <div class="col-lg-4">
            <a href="https://www.facebook.com/softsaenzs.a.s" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://api.whatsapp.com/send?phone=573158148943" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCEuBIjhgIX7RZnEEzDryheQ" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://twitter.com/softsaenz" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://t.me/+573235017361" target="_blank"><i class="bi bi-telegram"></i></a>
        </div>
    </div>
</div>