:root {
    --primary-color: #ca0904;
    --background-color: #f9f5f0;
    --darck-color: #151515;
    --contraste: #0098DB;
    --contrasteAmarillo: #feff00;
}

.swal2-popup.swal2-toast.swal2-show {
    background-size: cover;
    width: 190px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Myriad Pro Regular';
    background: #ffffff85;
    padding: 10px;
    box-shadow: none;
}

.modal {
    z-index: 999999!important;
}

.modal-dialog {
    max-width: 750px !important;
    margin-top: 20%;
    z-index: 999999!important;
}

.mat-form-field {
    width: 100%;
}

.lg-container {
    display: none!important;
}

.fixed-top {
    z-index: 999999999999999!important;
}

#swal2-title {
    margin: 0px;
    margin-top: 0px;
    margin-top: -10px;
}

.swal2-image {
    margin: 0px!important;
}


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #ca0904 #fff;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}

body {
    /*Esto hace que el foter quede abajo*/
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}